<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Бliss Tours</h1>
    <h2>Туры по Кыргызстану</h2>
  </header>
  <main>
    <section class="about">
      <h3>О нас</h3>
      <p>Бliss Tours - это туристическая компания, которая предлагает туры по Кыргызстану. Мы специализируемся на индивидуальных и групповых турах, которые позволяют нашим клиентам познакомиться с богатой культурой и историей Кыргызстана.</p>
      <p>Наши опытные гиды помогут вам открыть для себя все лучшее, что может предложить Кыргызстан. Мы предлагаем широкий выбор туров, в том числе:</p>
      <ul>
        {% for tour in tours %}
        <li>{{ tour.tour_name }}</li>
        <a href="{% url 'tours' tour.foreign_key%}">Подробнее</a>
        {% endfor %}
      </ul>
    </section>
    <section class="tours">
      <h3>Туры</h3>
      <div class="tour">
        <h4>Тур по горам Тянь-Шаня</h4>
        <p>Этот тур позволит вам познакомиться с самыми высокими горами Кыргызстана. Вы посетите такие места, как:</p>
        <ul>
          <li>Иссык-Куль</li>
          <li>Чон-Алайский хребет</li>
          <li>Пик Ленина</li>
          <li>Иссык-Ата</li>
        </ul>
        <a href="#">Подробнее</a>
      </div>
      <div class="tour">
        <h4>Тур по Иссык-Кулю</h4>
        <p>Этот тур позволит вам отдохнуть на самом большом озере в Центральной Азии. Вы посетите такие места, как:</p>
        <ul>
          <li>Иссык-Куль</li>
          <li>Боровое</li>
          <li>Каракол</li>
          <li>Чолпон-Ата</li>
        </ul>
        <a href="#">Подробнее</a>
      </div>
      <div class="tour">
        <h4>Тур по Чуйской долине</h4>
        <p>Этот тур позволит вам познакомиться с историей и культурой Кыргызстана. Вы посетите такие места, как:</p>
        <ul>
          <li>Чуйская долина</li>
          <li>Тянь-Шаньский хребет</li>
          <li>Сокулук</li>
          <li>Баткен</li>
        </ul>
        <a href="#">Подробнее</a>
      </div>
      <div class="tour">
        <h4>Тур по Оше</h4>
        <p>Этот тур позволит вам познакомиться с вторым по величине городом Кыргызстана. Вы посетите такие места, как:</p>
        <ul>
          <li>Ош</li>
          <li>Алайский хребет</li>
          <li>Сулаймановы горы</li>
          <li>Сары-Челекский заповедник</li>
        </ul>
        <a href="#">Подробнее</a>
      </div>
      <div class="tour">
        <h4>Тур по Бишкеку</h4>
        <p>Этот тур позволит вам познакомиться со столицей Кыргызстана. Вы посетите такие места, как:</p>
        <ul>
          <li>Бишкек</li>
         > <li>Ала-Тооский государственный национальный парк</li>
          <li>Манас-Ата</li>
          <li>Чон-Арыкская долина</li>
        </ul>
        <a href="#">Подробнее